<main>
    <section class="contactos">
        <h1 class="contactos__titulo mb-5 text-center">CONTACTOS</h1>
        <section>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <img class="contactos__img" src="./assets/img/contactanos.jpg" alt="">
                </div>
                <div class="contactos__form col-lg-12 mt-5">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"><b>EMAIL</b></label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="TU EMAIL">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"><b>DEJANOS TU
                                MENSAJE</b></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <input class="mt-3 boton__form aboton__form" type="submit" value="ENVIAR">
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="contUbicacion">


        <section class="ubicacion mt-5">
            <h2 class="text-center mb-5 ubicacion__titulo">UBICACIÓN</h2>
            <div>
                <div class="column  d-flex justify-content-center">
                    <div class=" col-lg-12 col-md-12 ubicacion__mapa d-flex justify-content-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.1182405027716!2d-64.19407768530652!3d-31.410868203127094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432987ef8712141%3A0x7f764e898e6bb538!2sAv.%20Col%C3%B3n%20644%2C%20X5000EPT%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1639919219383!5m2!1ses-419!2sar"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            class="mapa"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <section class="LogosUbicacion">
            <div class=" d-flex justify-content-center mt-3">
                <div class="row">
                    <div class="col">
                        <img src="../assets/ICONOS/location.png" alt="">
                        <p class="LogosUbicacion__parrafo"><b>AV. COLÓN 365. <br> LOCAL 5. CÓRDOBA.</b></p>
                    </div>
                    <div class="col">
                        <img src="../assets/ICONOS/whatsapp.png" alt="">
                        <p class="LogosUbicacion__parrafo"><b>351-4589562</b></p>

                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
