<header class="header" data-aos="fade-down" data-aos-duration="1500">
    <nav class="navbar navbar-expand-lg navbar-light header__nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="header__logo" src="..\assets\img\Logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler header__menuHamburguesa" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end me-5" id="navbarNavDropdown">
                <ul class="navbar-nav header__ul">
                    <li class="nav-item header__items">
                        <a class="header__link header__link--activo" aria-current="page" routerLink="#">INICIO</a>
                    </li>
                    <li class="nav-item header__items">
                        <a class="header__link" routerLink="./Servicios">SERVICIOS</a>
                    </li>
                    <li class="nav-item header__items">
                        <a class="header__link" href="./pages/Contactos.html">CONTACTOS</a>
                    </li>
                    <li>
                        <button class="header__boton"><a class="header__aboton"
                                routerLink="./login">Iniciar Sesión
                            </a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
