* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header__contNav {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__nav {
  background-color: #6363ba;
}

.header__logo {
  width: 100px;
  margin-left: 1rem;
}

.header__menuHamburguesa {
  background-color: white;
  padding: 3px;
}

.header__ul {
  margin-top: 1rem;
}

.header__items {
  margin-right: 1rem;
}

.header__items:hover {
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: underline;
  font-size: 1rem;
}

.header__link {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  font-size: 0.7rem;
}

.header__link--activo {
  color: #14e0ff;
  font-size: 0.8rem;
}

.header__link:hover {
  color: #00d5ff;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: underline;
  font-size: 0.8rem;
}

.header__contenedorBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__boton {
  background-color: #5684e9;
  border-radius: 12px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.header__boton:hover {
  background-color: white;
}

.header__aboton {
  color: white;
  padding: 8px 15px;
  font-size: 0.7rem;
  letter-spacing: 2px;
  -webkit-transition: color 1s;
  transition: color 1s;
  text-decoration: none;
}

.header__aboton:hover {
  color: #0008ff;
}

.footer {
  background-color: #6363ba;
}

.footer__contenido {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  text-align: center;
  color: #cfc6c6;
  letter-spacing: 1px;
}

.footer__iconos {
  width: 75px;
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/Index/Fondo-Medico1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding: 3rem;
}

.heroSection__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroSection__titulo {
  color: #e77060;
  font-size: 6rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  -webkit-text-stroke: white 1px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.heroSection__logo {
  width: 250px;
  margin-bottom: 1rem;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heroSection__parrafo {
  width: 300px;
  text-align: center;
  color: #0ad8ef;
  background-color: rgba(0, 0, 0, 0.438);
  font-size: 1rem;
  border-radius: 30px;
}

.Beneficios {
  padding: 10px;
}

.Beneficios__cards {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #8e8c98), to(#6363ba));
  background: linear-gradient(180deg, #8e8c98 80%, #6363ba 100%);
  padding: 18px;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Beneficios__cardsTitle {
  color: #3944aa;
  font-size: 1rem;
  text-align: center;
}

.Beneficios__cardsText {
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.Beneficios__img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Nosotros__titulo {
  color: #0051ff;
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Nosotros__contenido {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nosotros__parrafo {
  color: black;
}

.Nosotros__img {
  height: 18.75rem;
}

.historia {
  margin-bottom: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #b8b7be), to(#6363ba));
  background: linear-gradient(180deg, #b8b7be 80%, #6363ba 100%);
  padding: 2rem;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historia__titulo {
  color: #f8f3f3;
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.historia__parrafo {
  color: #3944aa;
}

.historia .historia__ContenedorImg {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.historia__img {
  width: 100%;
  margin: auto;
}

.NuestrosServicios__encabezado {
  color: #0080ff;
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.NuestrosServicios__cards {
  background: #5271e3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(131, 134, 139, 0.986)), to(#72b3e4));
  background: linear-gradient(180deg, rgba(131, 134, 139, 0.986) 80%, #72b3e4 100%);
  width: 18rem;
  padding: 10px;
}

.NuestrosServicios__titulo {
  color: #8dcaf2;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.NuestrosServicios__parrafo {
  color: #fff9f9;
}

.contactos {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.contactos__titulo {
  color: white;
  font-size: 3rem;
  letter-spacing: 6px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: #0008ff 2.5px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.contactos__img {
  width: 18rem;
  border-radius: 0.5rem;
}

.contactos__form {
  color: #0040ff;
  letter-spacing: 1px;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contUbicacion {
  background-color: #a39a9a;
  margin-top: 4rem;
  padding: 10px;
}

.ubicacion__titulo {
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
}

.mapa {
  border-radius: 1.5rem;
}

.LogosUbicacion {
  padding: 50px;
}

.LogosUbicacion__parrafo {
  color: white;
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

.turnero {
  background-image: url(../assets/turnero/turnero1.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.turnero__title {
  text-align: center;
  color: #0033ff;
  font-size: 40px;
}

.turnero__titleCampo {
  color: black;
}

.turnero__intro {
  background-color: rgba(0, 0, 0, 0.572);
  border-radius: 5%;
  padding: 5px;
  color: aliceblue;
}

.turnero__tituloIntro {
  font-size: 1.5rem;
  text-align: center;
  color: aqua;
}

.turnero__form {
  background-color: rgba(22, 202, 215, 0.519);
  text-align: center;
}

.turnero__contenedorForm {
  width: 100%;
  padding: 15px;
  margin-bottom: 100px;
  background-color: rgba(186, 224, 232, 0.548);
}

.turnero input[type="time"],
.turnero input[type="date"],
.turnero select {
  font-size: 20px;
  width: 80%;
  padding: 10px;
  border: none;
  color: #5c5cd9;
  background-color: rgba(255, 250, 253, 0.375);
}

.turnero__contenedorInput {
  margin-bottom: 15px;
  border: 1px solid #2a3deb;
  background-color: rgba(255, 250, 253, 0.625);
}

.turnero__boton {
  border: none;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #e7e7eb;
  background-color: #6f6d6d;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.turnero__boton:hover, .turnero__enlace:hover {
  background-color: #646eca;
  color: white;
}

.turnero__link {
  text-decoration: none;
  color: #2a3deb;
  font-weight: 600;
}

.turnero__link:hover {
  color: #6b75ca;
}

@media (min-width: 768px) {
  .turnero__form {
    margin: auto;
    width: 500px;
    margin-top: 100px;
    border-radius: 2%;
  }
}

.ingresar {
  background-image: url(../assets/ingresar/ingresar.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.ingresar__title {
  text-align: center;
  color: #2a3deb;
  font-size: 40px;
}

.ingresar__form {
  background-color: rgba(255, 255, 255, 0.842);
  margin-top: 150px;
  padding: 3px;
  text-align: center;
}

.ingresar__contenedorForm {
  width: 100%;
  padding: 15px;
}

.ingresar input[type="email"],
.ingresar input[type="password"] {
  font-size: 20px;
  width: 80%;
  padding: 10px;
  border: none;
}

.ingresar__contenedorInput {
  margin-bottom: 15px;
  border: 1px solid #2a3deb;
}

.ingresar__icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}

.ingresar__boton {
  border: none;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #2a3deb;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.ingresar__enlace {
  border: none;
  width: 100%;
  font-size: 30px;
  color: #2a3deb;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgba(235, 227, 227, 0.615);
  cursor: pointer;
}

.ingresar__boton:hover, .ingresar__enlace:hover {
  background-color: #646eca;
  color: white;
}

.ingresar__p {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
}

.ingresar__link {
  text-decoration: none;
  color: #2a3deb;
  font-weight: 600;
}

.ingresar__link:hover {
  color: black;
}

@media (min-width: 768px) {
  .ingresar__form {
    margin: auto;
    width: 500px;
    margin-top: 100px;
    border-radius: 2%;
  }
}

.boton {
  background-color: rgba(255, 255, 255, 0.626);
  border-radius: 12px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.boton:hover {
  background-color: #0051ff;
}

.aboton {
  color: #0051ff;
  padding: 8px 15px;
  font-size: 1rem;
  letter-spacing: 2px;
  -webkit-transition: color 1s;
  transition: color 1s;
  text-decoration: none;
}

.aboton:hover {
  color: white;
}

.boton__form {
  background-color: #0051ff;
  border-radius: 12px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.boton__form:hover {
  background-color: white;
}

.aboton__form {
  color: white;
  padding: 1px 8px;
  font-size: 1rem;
  letter-spacing: 2px;
  -webkit-transition: color 1s;
  transition: color 1s;
  text-decoration: none;
}

.aboton__form:hover {
  color: #0051ff;
}

.fondo {
  background-image: url(../assets/ingresar/ingresar.jpg);
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 30%;
  display: inline;
  padding: 30px;
}

.container {
  background-color: rgba(124, 194, 244, 0.555);
  width: 50%;
  padding: 20px;
}

.titulo {
  color: #012a76;
  text-align: center;
}

.nav-enlace {
  background: #0c65ea;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
}

.nav-enlace:hover {
  background: #f7f2f2;
}

nav {
  background: gray;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-boton {
  background: rgba(0, 0, 255, 0.753);
  color: #fff;
  padding: 10px 0;
  border: 2px solid #fff;
  display: none;
}

.botonRegistrarse {
  border: none;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.ParrafoPieRegistro {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
}

.linkPieRegistro {
  text-decoration: none;
  color: #0800ff;
  font-weight: 600;
}

.linkPieRegistro:hover {
  color: black;
}

.ParrafoVolver {
  text-align: right;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-right: 50px;
}

.linkVolver {
  text-decoration: none;
  color: #0800ff;
  font-weight: 600;
}

.linkVolver:hover {
  color: white;
}

@media (max-width: 600px) {
  nav {
    background: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-enlace {
    margin: 10px 0;
  }
  .nav-boton {
    display: inline-block;
  }
  .desaparece {
    display: none;
  }
  .container {
    width: 100%;
    padding: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header__logo {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 405px) {
  .header__logo {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 405px) {
  .heroSection__titulo {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1220px) {
  .Nosotros__contenido,
  .Servicios__contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .contactos__form {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .Nosotros__img,
  .historia__img {
    height: 12.75rem;
  }
  .Servicios__img {
    height: 12rem;
  }
}

@media only screen and (max-width: 485px) {
  .Nosotros__img,
  .historia__img {
    height: 9.75rem;
  }
  .Servicios__img {
    height: 8rem;
  }
}

@media only screen and (max-width: 650px) {
  .Nosotros__titulo,
  .Servicios__titulo {
    font-size: 2rem;
  }
  .NuestrosServicios__encabezado {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .contactos__img {
    width: 15rem;
  }
  .ubicacion__titulo {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 420px) {
  .contactos__titulo {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 370px) {
  .contactos__img {
    width: 12rem;
  }
  .contactos__titulo {
    font-size: 2rem;
  }
  .ubicacion__titulo {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .mapa {
    width: 320px;
    height: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .footer__contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */