

<body class="turnero">
    <div
        class="tuenero__granContenedor container-fluid row Nosotros__contenido d-flex justify-content-around align-items-center">
        <div class="col-lg-4 mt-5 col-md-12 turnero__intro">
            <h2 class="turnero__tituloIntro" >¡Solicite turnos de manera fácil y rápida!</h2>
               
                 <ul>
                        <li>Seleccione la especialidad que necesita.</li>
                        <li>Elija su Obra Social.</li>
                        <li>Indique el día y horario que más le convenga.</li>
                        <li>Asegurese de proporcionar la información correcta.</li>
                        <li>¡Listo, Ya tiene su Turno!</li>
                </ul>
            
        </div>
        <div class=" col-lg-4 mt-5 mb-5 d-flex justify-content-center">
                <form class="turnero__form" action="">

                    <h1 class="turnero__title">Reserve su Turno</h1>
                    <div class="turnero__contenedorForm">


                        <h6 class="turnero__titleCampo">Seleccione Especialidad:</h6>
                        <div class="turnero__contenedorInput">
                            <select name="" id="">
                                <option value="">Clínica Médica</option>
                                <option value="">Odontología</option>
                                <option value="">Laboratorio</option>
                                <option value="">Resonancia Magnética</option>
                                <option value="">Dermatologia</option>
                                <option value="">OTL</option>
                            </select>
                        </div>

                        <h6 class="turnero__titleCampo">Seleccione Obra Social:</h6>
                        <div class="turnero__contenedorInput">
                            <select name="" id="">
                                <option value="">Osecac</option>
                                <option value="">Ospe</option>
                                <option value="">Osfe</option>
                                <option value="">Amca</option>
                                <option value="">Apsot</option>
                                <option value="">Mutual de Farmacéuticos </option>
                                <option value="">Bristol Medicine</option>
                                <option value="">Apross</option>
                                <option value="">Ensalud</option>
                                <option value="">Famyl S. A.</option>
                                <option value="">Galeno</option>
                                <option value="">Health Medical</option>
                                <option value="">Instituto Provincial de Salud de Salta</option>
                                <option value="">La Caja Art</option>
                                <option value="">Medifé</option>
                            </select>

                        </div>


                        <h6 class="turnero__titleCampo">Seleccione una Fecha:</h6>
                        <div class="turnero__contenedorInput">
                            <input type="date">
                        </div>

                        <h6 class="turnero__titleCampo">Seleccione un horaio:</h6>
                        <div class="turnero__contenedorInput">
                            <input type="time">

                        </div>

                        <input type="submit" value="SOLICITAR TURNO" class="turnero__boton">
                    </div>

                </form>
        </div>
    </div>
