
    <form [formGroup]="loginForm" class="custom-form"   >
      <p class="text-danger">{{loginError}}</p>
      <div class="login">
      <h1>Iniciar Sesión</h1>
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        required="required"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="text-danger">
  
        <div *ngIf="email.errors?.['required']">
         El Email es requerido.
        </div>
        <div *ngIf="email.errors?.['email']">
         El Email debe tener un formato válido.
        </div>
      </div>

      </div>

      <div class="login">
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        required="required"
        id="exampleInputPassword1"
      />

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class="text-danger">
  
        <div *ngIf="password.errors?.['required']">
         El password es requerido.
        </div>
        
      </div>
   
      </div>

      
        <button type="submit" (click)="login()" class="btn btn-success">Iniciar Sesion</button>
    </form>

<div>
  <P>¿No tiene cuenta?</P>
      <a routerLink="../Registro">Regístrate</a>
</div>