<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-around mb-2 footer__contenido">
                <div class="p-2 d-flex justify-content-center col-md-6">
                    <p class="mt-5 footer__copy"> <small> <br> El contenido de esta página web tiene derechos de
                            autor
                            <br> Clinica ISPC © 2022
                            <br> Todos los derechos reservados
                            <br> sitio creado por "GRUPO N°91"</small> </p>
                </div>
                <div class="p-2 d-flex justify-content-center col-md-6">
                    <a href="#"><img class="footer__iconos mt-3 me-2" src="../assets/img/facebook.png"
                        alt="Logo de facebook"></a>
                    <a href="#"><img class="footer__iconos mt-3 me-2" src="../assets/img/instagram.png"
                            alt="Logo de instagram"></a>
                    <a href="#"><img class="footer__iconos mt-3 me-2" src="../assets/img/youtube.png"
                            alt="Logo de youtube"></a>
                </div>
            </div>
        </div>
    </div>
</footer>