<main>
    <section class="NuestrosServicios mt-5 mb-5">
        <h1 class="text-center NuestrosServicios__encabezado">SERVICIOS DE CALIDAD <br> <small> PARA BRINDARTE
                SEGURIDAD Y CONFIANZA </small>
        </h1>
        <div class="container-fluid">
            <!-- d-flex justify-content-center -->
            <div class="row justify-content-center">
                <div class="col-lg card NuestrosServicios__cards m-2">
                    <img class="NuestrosServicios__img" src="./assets/img/servicio1.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title NuestrosServicios__titulo">Odontología</h5>
                        <p class="card-text NuestrosServicios__parrafo">Equipados con los mejores odontologos y con
                            maquinaria de ultima tecnología listo para atender.</p>
                    </div>
                </div>
                <div class="col-lg card NuestrosServicios__cards m-2">
                    <img class="NuestrosServicios__img" src="./assets/img/servicio2.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title NuestrosServicios__titulo">Clinica medica</h5>
                        <p class="card-text NuestrosServicios__parrafo">Medicos clinicos a su disposicion para
                            realizarles los chequeos anuales, ficha medicas, derivaciones, etc.</p>

                    </div>
                </div>
                <div class=" col-lg card NuestrosServicios__cards m-2 ">
                    <img class="NuestrosServicios__img" src="./assets/img/otorrinolaringologia.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title NuestrosServicios__titulo">Otorrinolaringología</h5>
                        <p class="card-text NuestrosServicios__parrafo">Revisión a profundidad para encontrar y dar
                            el causante de tus molestias.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- d-flex justify-content-center -->
            <div class="row justify-content-center">
                <div class="col-lg card NuestrosServicios__cards m-2">
                    <img class="NuestrosServicios__img"
                        src="./assets/img/depositphotos_74720971-stock-photo-scientists-with-clipboard-and-microscope.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title NuestrosServicios__titulo">Laboratorio</h5>
                        <p class="card-text NuestrosServicios__parrafo">Contamos con laboratorios para hacer sus
                            estudios y tener sus diagnosticos lo ante posible.</p>
                    </div>
                </div>
                <div class="col-lg card NuestrosServicios__cards m-2">
                    <img class="NuestrosServicios__img" src="./assets/img/resonancia.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title NuestrosServicios__titulo">Resonancia Magnética</h5>
                        <p class="card-text NuestrosServicios__parrafo">La mejor maquina para su comododad y salud,
                            equipados solo con lo ultimo de lo ultimo.</p>

                    </div>
                </div>
                <div class=" col-lg card NuestrosServicios__cards m-2">
                    <img class="NuestrosServicios__img" src="./assets/img/dermatolgia.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title NuestrosServicios__titulo">Dermatología</h5>
                        <p class="card-text NuestrosServicios__parrafo">Tratamientos y especialistas para mantener
                            el cuido de su piel, cuero cabelludo, etc. al maximo.</p>

                    </div>
                </div>
                <div class="boton">
                    <button class="turno__boton"><a class="turno__aboton"
                        routerLink="./login">Sacar Turno
                    </a></button>
                </div>
            </div>
        </div>
    </section>
</main>

